@charset "utf-8";
/** 
 css-kit 1.0.0
 Zepto + Scroller + Kui 
 Author:Kevin
 HomePage:
 */
/* perfix */
/*---   Neutrals  ---*/
/*草灰*/
/*墨黑*/
/*雅白*/
/*-------------------
     Alpha Colors
--------------------*/
/*-------------------
    颜色
--------------------*/
/* 深 嫣红 */
/* 深 桔橙 */
/* 深 明黄 */
/* 深 橄榄 */
/* 深 森绿 */
/* 深 天青 */
/* 深 海蓝 */
/* 深 姹紫 */
/* 深 木槿 */
/* 深 桃粉 */
/* 深 棕褐 */
/* 深 玄灰 */
/* 浅 嫣红 */
/* 浅 桔橙 */
/* 浅 明黄 */
/* 浅 橄榄 */
/* 浅 森绿 */
/* 浅 天青 */
/* 浅 海蓝 */
/* 浅 姹紫 */
/* 浅 木槿 */
/* 浅 桃粉 */
/* 浅 棕褐 */
/* 浅 玄灰 */
/* 小样式 */
.clear,
.clear:after {
  clear: both;
}
.clear:after {
  display: block;
  content: '';
}
.unselect {
  user-select: none;
  -webkit-user-select: none;
}
/*****************
 * 文本样式
******************/
/* 文字截断 */
.txt-row1,
.txt-row2,
.txt-row3 {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  word-wrap: break-word;
}
.txt-row1 {
  display: block;
  white-space: nowrap;
}
.txt-row2,
.txt-row3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.txt-row2 {
  -webkit-line-clamp: 2;
}
.txt-row3 {
  -webkit-line-clamp: 3;
}
/* 换行 */
.txt-br {
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap;
}
.txt-nobr {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* 文字对齐 */
.txt-l {
  text-align: left;
}
.txt-c {
  text-align: center;
}
.txt-r {
  text-align: right;
}
/* 标题大小 */
.txt-h1,
h1 {
  font-size: 1.6em;
}
.txt-h2,
h2 {
  font-size: 1.4em;
}
.txt-h3,
h3 {
  font-size: 1.2em;
}
.txt-h4,
h4 {
  font-size: 0.9em;
}
.txt-h5,
h5 {
  font-size: 0.6em;
}
/* 状态文字 */
.txt-default {
  color: #6d6d72;
}
.txt-primary {
  color: #1B9AF7;
}
.txt-success {
  color: #5BCC24;
}
.txt-warning {
  color: #F19D02;
}
.txt-danger {
  color: #FF4351;
}
.txt-gray {
  color: #aaaaaa;
}
.txt-black {
  color: #333333;
}
.txt-white {
  color: #ffffff;
}
.txt-d-red {
  color: #e54d42;
}
.txt-d-orange {
  color: #f37b1d;
}
.txt-d-yellow {
  color: #fbbd08;
}
.txt-d-olive {
  color: #8dc63f;
}
.txt-d-green {
  color: #39b54a;
}
.txt-d-cyan {
  color: #1cbbb4;
}
.txt-d-blue {
  color: #0081ff;
}
.txt-d-purple {
  color: #6739b6;
}
.txt-d-mauve {
  color: #9c26b0;
}
.txt-d-pink {
  color: #e03997;
}
.txt-d-brown {
  color: #a5673f;
}
.txt-d-grey {
  color: #8799a3;
}
.txt-l-red {
  color: #fadbd9;
}
.txt-l-orange {
  color: #fde6d2;
}
.txt-l-yellow {
  color: #FEF4D6;
}
.txt-l-olive {
  color: #e8f4d9;
}
.txt-l-green {
  color: #D7F0DB;
}
.txt-l-cyan {
  color: #d2f1f0;
}
.txt-l-blue {
  color: #cce6ff;
}
.txt-l-purple {
  color: #e1d7f0;
}
.txt-l-mauve {
  color: #ebd4ef;
}
.txt-l-pink {
  color: #f9d7ea;
}
.txt-l-brown {
  color: #ede1d9;
}
.txt-l-grey {
  color: #e7ebed;
}
/*********************************
 * 背景及边框
*********************************/
/* 其它背景 */
.bg-gray {
  background-color: #aaaaaa;
}
.bg-black {
  background-color: #333333;
}
.bg-white {
  background-color: #ffffff;
}
.bg-gi-red {
  background-image: linear-gradient(45deg, #f43f3b, #ec008c);
}
.bg-gi-orange {
  background-image: linear-gradient(45deg, #ff9700, #ed1c24);
}
.bg-gi-green {
  background-image: linear-gradient(45deg, #39b54a, #8dc63f);
}
.bg-gi-blue {
  background-image: linear-gradient(45deg, #0081ff, #1cbbb4);
}
.bg-gi-purple {
  background-image: linear-gradient(45deg, #9000ff, #5e00ff);
}
.bg-gi-pink {
  background-image: linear-gradient(45deg, #ec008c, #6739b6);
}
/* 深背景 */
.bg-d {
  color: #FFF;
}
.bg-d-default {
  background-color: #6d6d72;
}
.bg-d-primary {
  background-color: #1B9AF7;
}
.bg-d-success {
  background-color: #5BCC24;
}
.bg-d-warning {
  background-color: #F19D02;
}
.bg-d-danger {
  background-color: #FF4351;
}
.bg-d-red {
  background-color: #e54d42;
}
.bg-d-orange {
  background-color: #f37b1d;
}
.bg-d-yellow {
  background-color: #fbbd08;
}
.bg-d-olive {
  background-color: #8dc63f;
}
.bg-d-green {
  background-color: #39b54a;
}
.bg-d-cyan {
  background-color: #1cbbb4;
}
.bg-d-blue {
  background-color: #0081ff;
}
.bg-d-purple {
  background-color: #6739b6;
}
.bg-d-mauve {
  background-color: #9c26b0;
}
.bg-d-pink {
  background-color: #e03997;
}
.bg-d-brown {
  background-color: #a5673f;
}
.bg-d-grey {
  background-color: #8799a3;
}
/* 浅背景 */
.bg-l-default,
.tips-default {
  background-color: #efefef;
  color: #6d6d72;
}
.bg-l-primary,
.tips-primary {
  background-color: #eff8fe;
  color: #1B9AF7;
}
.bg-l-success,
.tips-success {
  background-color: #f6fdf2;
  color: #5BCC24;
}
.bg-l-warning,
.tips-warning {
  background-color: #fee9c1;
  color: #F19D02;
}
.bg-l-danger,
.tips-danger {
  background-color: #fff5f6;
  color: #FF4351;
}
.bg-l-red {
  background-color: #fadbd9;
}
.bg-l-orange {
  background-color: #fde6d2;
}
.bg-l-yellow {
  background-color: #FEF4D6;
}
.bg-l-olive {
  background-color: #e8f4d9;
}
.bg-l-green {
  background-color: #D7F0DB;
}
.bg-l-cyan {
  background-color: #d2f1f0;
}
.bg-l-blue {
  background-color: #cce6ff;
}
.bg-l-purple {
  background-color: #e1d7f0;
}
.bg-l-mauve {
  background-color: #ebd4ef;
}
.bg-l-pink {
  background-color: #f9d7ea;
}
.bg-l-brown {
  background-color: #ede1d9;
}
.bg-l-grey {
  background-color: #e7ebed;
}
/* 边 */
.bdr,
.bdr-a,
.bdr-l,
.bdr-x,
.bdr-r,
.bdr-x,
.bdr-t,
.bdr-y,
.bdr-b,
.bdr-y {
  border-style: solid;
  border-color: rgba(34, 36, 38, 0.15);
  border-width: 0;
}
.bdr-a {
  border-width: 1px;
}
.bdr-l,
.bdr-x {
  border-left-width: 1px;
}
.bdr-r,
.bdr-x {
  border-right-width: 1px;
}
.bdr-t,
.bdr-y {
  border-top-width: 1px;
}
.bdr-b,
.bdr-y {
  border-bottom-width: 1px;
}
/* 边框颜色 */
.bdr-gray {
  border-color: #aaaaaa;
}
.bdr-black {
  border-color: #333333;
}
.bdr-white {
  border-color: #ffffff;
}
/* 深边框 */
.bdr-d-primary,
.tips-primary {
  border-color: #1B9AF7;
}
.bdr-d-success,
.tips-success {
  border-color: #5BCC24;
}
.bdr-d-warning,
.tips-warning {
  border-color: #F19D02;
}
.bdr-d-danger,
.tips-danger {
  border-color: #FF4351;
}
.bdr-d-red {
  border-color: #e54d42;
}
.bdr-d-orange {
  border-color: #f37b1d;
}
.bdr-d-yellow {
  border-color: #fbbd08;
}
.bdr-d-olive {
  border-color: #8dc63f;
}
.bdr-d-green {
  border-color: #39b54a;
}
.bdr-d-cyan {
  border-color: #1cbbb4;
}
.bdr-d-blue {
  border-color: #0081ff;
}
.bdr-d-purple {
  border-color: #6739b6;
}
.bdr-d-mauve {
  border-color: #9c26b0;
}
.bdr-d-pink {
  border-color: #e03997;
}
.bdr-d-brown {
  border-color: #a5673f;
}
.bdr-d-grey {
  border-color: #8799a3;
}
/* 浅边框 */
.bdr-l-primary {
  border-color: #e6f5fe;
}
.bdr-l-success {
  border-color: #e4ffe4;
}
.bdr-l-warning {
  border-color: #fff0e5;
}
.bdr-l-danger {
  border-color: #feeded;
}
.bdr-l-red {
  border-color: #fadbd9;
}
.bdr-l-orange {
  border-color: #fde6d2;
}
.bdr-l-yellow {
  border-color: #FEF4D6;
}
.bdr-l-olive {
  border-color: #e8f4d9;
}
.bdr-l-green {
  border-color: #D7F0DB;
}
.bdr-l-cyan {
  border-color: #d2f1f0;
}
.bdr-l-blue {
  border-color: #cce6ff;
}
.bdr-l-purple {
  border-color: #e1d7f0;
}
.bdr-l-mauve {
  border-color: #ebd4ef;
}
.bdr-l-pink {
  border-color: #f9d7ea;
}
.bdr-l-brown {
  border-color: #ede1d9;
}
.bdr-l-grey {
  border-color: #e7ebed;
}
/* 提示 */
[class*='tips-'] {
  display: block;
  padding: 10px;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
}
/* Margin */
.mg-a {
  margin: 10px;
}
.mg-0 {
  margin: 0 !important;
}
.mg-t,
.mg-y {
  margin-top: 10px;
}
.mg-b,
.mg-y {
  margin-bottom: 10px;
}
.mg-l,
.mg-x {
  margin-left: 10px;
}
.mg-r,
.mg-x {
  margin-right: 10px;
}
.mg-a-sm {
  margin: 5px;
}
.mg-t-sm,
.mg-y-sm {
  margin-top: 5px;
}
.mg-b-sm,
.mg-y-sm {
  margin-bottom: 5px;
}
.mg-l-sm,
.mg-x-sm {
  margin-left: 5px;
}
.mg-r-sm,
.mg-x-sm {
  margin-right: 5px;
}
.mg-t-emt,
.mg-y-emt {
  margin-top: 0px !important;
}
.mg-b-emt,
.mg-y-emt {
  margin-bottom: 0px !important;
}
.mg-l-emt,
.mg-x-emt {
  margin-left: 0px !important;
}
.mg-r-emt,
.mg-x-emt {
  margin-right: 0px !important;
}
.mg-a-lg {
  margin: 20px;
}
.mg-t-lg,
.mg-y-lg {
  margin-top: 20px;
}
.mg-b-lg,
.mg-y-lg {
  margin-bottom: 20px;
}
.mg-l-lg,
.mg-x-lg {
  margin-left: 20px;
}
.mg-r-lg,
.mg-x-lg {
  margin-right: 20px;
}
/* Padding */
.pd-a {
  padding: 10px;
}
.pd-0 {
  padding: 0 !important;
}
.pd-l,
.pd-x {
  padding-left: 10px;
}
.pd-r,
.pd-x {
  padding-right: 10px;
}
.pd-t,
.pd-y {
  padding-top: 10px;
}
.pd-b,
.pd-y {
  padding-bottom: 10px;
}
.pd-a-sm {
  padding: 5px;
}
.pd-l-sm,
.pd-x-sm {
  padding-left: 5px;
}
.pd-r-sm,
.pd-x-sm {
  padding-right: 5px;
}
.pd-t-sm,
.pd-y-sm {
  padding-top: 5px;
}
.pd-b-sm,
.pd-y-sm {
  padding-bottom: 5px;
}
.pd-a-lg {
  padding: 20px;
}
.pd-l-lg,
.pd-x-lg {
  padding-left: 20px;
}
.pd-r-lg,
.pd-x-lg {
  padding-right: 20px;
}
.pd-t-lg,
.pd-y-lg {
  padding-top: 20px;
}
.pd-b-lg,
.pd-y-lg {
  padding-bottom: 20px;
}
.pd-l-emt,
.pd-x-emt {
  padding-left: 0px !important;
}
.pd-r-emt,
.pd-x-emt {
  padding-right: 0px !important;
}
.pd-t-emt,
.pd-y-emt {
  padding-top: 0px !important;
}
.pd-b-emt,
.pd-y-emt {
  padding-bottom: 0px !important;
}
/* Fieldset */
fieldset {
  border: #eee solid 1px;
}
legend {
  padding: 0 5px;
  font-size: 1.1em;
}
.field-title {
  padding: 0 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-width: 1px 0 0;
}
.col-pull-0,
.col-pull-1,
.col-pull-10,
.col-pull-11,
.col-pull-13,
.col-pull-14,
.col-pull-15,
.col-pull-16,
.col-pull-17,
.col-pull-18,
.col-pull-19,
.col-pull-2,
.col-pull-20,
.col-pull-21,
.col-pull-22,
.col-pull-23,
.col-pull-24,
.col-pull-3,
.col-pull-4,
.col-pull-5,
.col-pull-6,
.col-pull-7,
.col-pull-8,
.col-pull-9,
.col-push-0,
.col-push-1,
.col-push-10,
.col-push-11,
.col-push-12,
.col-push-13,
.col-push-14,
.col-push-15,
.col-push-16,
.col-push-17,
.col-push-18,
.col-push-19,
.col-push-2,
.col-push-20,
.col-push-21,
.col-push-22,
.col-push-23,
.col-push-24,
.col-push-3,
.col-push-4,
.col-push-5,
.col-push-6,
.col-push-7,
.col-push-8,
.col-push-9,
.row {
  position: relative;
}
.row {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.row::after,
.row::before {
  display: table;
}
.row::after {
  clear: both;
}
.row-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.col-0,
.row-flex:after,
.row-flex:before {
  display: none;
}
.row-flex.is-justify-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.row-flex.is-justify-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.row-flex.is-justify-space-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.row-flex.is-justify-space-around {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.row-flex.is-align-middle {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.row-flex.is-align-bottom {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
[class*=el-col-] {
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.upload-picture-card,
.upload-dragger {
  -webkit-box-sizing: border-box;
  cursor: pointer;
}
.col-0 {
  width: 0%;
}
.col-offset-0 {
  margin-left: 0;
}
.col-pull-0 {
  right: 0;
}
.col-push-0 {
  left: 0;
}
.col-1 {
  width: 4.16667%;
}
.col-offset-1 {
  margin-left: 4.16667%;
}
.col-pull-1 {
  right: 4.16667%;
}
.col-push-1 {
  left: 4.16667%;
}
.col-2 {
  width: 8.33333%;
}
.col-offset-2 {
  margin-left: 8.33333%;
}
.col-pull-2 {
  right: 8.33333%;
}
.col-push-2 {
  left: 8.33333%;
}
.col-3 {
  width: 12.5%;
}
.col-offset-3 {
  margin-left: 12.5%;
}
.col-pull-3 {
  right: 12.5%;
}
.col-push-3 {
  left: 12.5%;
}
.col-4 {
  width: 16.66667%;
}
.col-offset-4 {
  margin-left: 16.66667%;
}
.col-pull-4 {
  right: 16.66667%;
}
.col-push-4 {
  left: 16.66667%;
}
.col-5 {
  width: 20.83333%;
}
.col-offset-5 {
  margin-left: 20.83333%;
}
.col-pull-5 {
  right: 20.83333%;
}
.col-push-5 {
  left: 20.83333%;
}
.col-6 {
  width: 25%;
}
.col-offset-6 {
  margin-left: 25%;
}
.col-pull-6 {
  right: 25%;
}
.col-push-6 {
  left: 25%;
}
.col-7 {
  width: 29.16667%;
}
.col-offset-7 {
  margin-left: 29.16667%;
}
.col-pull-7 {
  right: 29.16667%;
}
.col-push-7 {
  left: 29.16667%;
}
.col-8 {
  width: 33.33333%;
}
.col-offset-8 {
  margin-left: 33.33333%;
}
.col-pull-8 {
  right: 33.33333%;
}
.col-push-8 {
  left: 33.33333%;
}
.col-9 {
  width: 37.5%;
}
.col-offset-9 {
  margin-left: 37.5%;
}
.col-pull-9 {
  right: 37.5%;
}
.col-push-9 {
  left: 37.5%;
}
.col-10 {
  width: 41.66667%;
}
.col-offset-10 {
  margin-left: 41.66667%;
}
.col-pull-10 {
  right: 41.66667%;
}
.col-push-10 {
  left: 41.66667%;
}
.col-11 {
  width: 45.83333%;
}
.col-offset-11 {
  margin-left: 45.83333%;
}
.col-pull-11 {
  right: 45.83333%;
}
.col-push-11 {
  left: 45.83333%;
}
.col-12 {
  width: 50%;
}
.col-offset-12 {
  margin-left: 50%;
}
.col-pull-12 {
  position: relative;
  right: 50%;
}
.col-push-12 {
  left: 50%;
}
.col-13 {
  width: 54.16667%;
}
.col-offset-13 {
  margin-left: 54.16667%;
}
.col-pull-13 {
  right: 54.16667%;
}
.col-push-13 {
  left: 54.16667%;
}
.col-14 {
  width: 58.33333%;
}
.col-offset-14 {
  margin-left: 58.33333%;
}
.col-pull-14 {
  right: 58.33333%;
}
.col-push-14 {
  left: 58.33333%;
}
.col-15 {
  width: 62.5%;
}
.col-offset-15 {
  margin-left: 62.5%;
}
.col-pull-15 {
  right: 62.5%;
}
.col-push-15 {
  left: 62.5%;
}
.col-16 {
  width: 66.66667%;
}
.col-offset-16 {
  margin-left: 66.66667%;
}
.col-pull-16 {
  right: 66.66667%;
}
.col-push-16 {
  left: 66.66667%;
}
.col-17 {
  width: 70.83333%;
}
.col-offset-17 {
  margin-left: 70.83333%;
}
.col-pull-17 {
  right: 70.83333%;
}
.col-push-17 {
  left: 70.83333%;
}
.col-18 {
  width: 75%;
}
.col-offset-18 {
  margin-left: 75%;
}
.col-pull-18 {
  right: 75%;
}
.col-push-18 {
  left: 75%;
}
.col-19 {
  width: 79.16667%;
}
.col-offset-19 {
  margin-left: 79.16667%;
}
.col-pull-19 {
  right: 79.16667%;
}
.col-push-19 {
  left: 79.16667%;
}
.col-20 {
  width: 83.33333%;
}
.col-offset-20 {
  margin-left: 83.33333%;
}
.col-pull-20 {
  right: 83.33333%;
}
.col-push-20 {
  left: 83.33333%;
}
.col-21 {
  width: 87.5%;
}
.col-offset-21 {
  margin-left: 87.5%;
}
.col-pull-21 {
  right: 87.5%;
}
.col-push-21 {
  left: 87.5%;
}
.col-22 {
  width: 91.66667%;
}
.col-offset-22 {
  margin-left: 91.66667%;
}
.col-pull-22 {
  right: 91.66667%;
}
.col-push-22 {
  left: 91.66667%;
}
.col-23 {
  width: 95.83333%;
}
.col-offset-23 {
  margin-left: 95.83333%;
}
.col-pull-23 {
  right: 95.83333%;
}
.col-push-23 {
  left: 95.83333%;
}
.col-24 {
  width: 100%;
}
.col-offset-24 {
  margin-left: 100%;
}
.col-pull-24 {
  right: 100%;
}
.col-push-24 {
  left: 100%;
}
@media only screen and (max-width: 767px) {
  .col-xs-0 {
    display: none;
    width: 0%;
  }
  .col-xs-offset-0 {
    margin-left: 0;
  }
  .col-xs-pull-0 {
    position: relative;
    right: 0;
  }
  .col-xs-push-0 {
    position: relative;
    left: 0;
  }
  .col-xs-1 {
    width: 4.16667%;
  }
  .col-xs-offset-1 {
    margin-left: 4.16667%;
  }
  .col-xs-pull-1 {
    position: relative;
    right: 4.16667%;
  }
  .col-xs-push-1 {
    position: relative;
    left: 4.16667%;
  }
  .col-xs-2 {
    width: 8.33333%;
  }
  .col-xs-offset-2 {
    margin-left: 8.33333%;
  }
  .col-xs-pull-2 {
    position: relative;
    right: 8.33333%;
  }
  .col-xs-push-2 {
    position: relative;
    left: 8.33333%;
  }
  .col-xs-3 {
    width: 12.5%;
  }
  .col-xs-offset-3 {
    margin-left: 12.5%;
  }
  .col-xs-pull-3 {
    position: relative;
    right: 12.5%;
  }
  .col-xs-push-3 {
    position: relative;
    left: 12.5%;
  }
  .col-xs-4 {
    width: 16.66667%;
  }
  .col-xs-offset-4 {
    margin-left: 16.66667%;
  }
  .col-xs-pull-4 {
    position: relative;
    right: 16.66667%;
  }
  .col-xs-push-4 {
    position: relative;
    left: 16.66667%;
  }
  .col-xs-5 {
    width: 20.83333%;
  }
  .col-xs-offset-5 {
    margin-left: 20.83333%;
  }
  .col-xs-pull-5 {
    position: relative;
    right: 20.83333%;
  }
  .col-xs-push-5 {
    position: relative;
    left: 20.83333%;
  }
  .col-xs-6 {
    width: 25%;
  }
  .col-xs-offset-6 {
    margin-left: 25%;
  }
  .col-xs-pull-6 {
    position: relative;
    right: 25%;
  }
  .col-xs-push-6 {
    position: relative;
    left: 25%;
  }
  .col-xs-7 {
    width: 29.16667%;
  }
  .col-xs-offset-7 {
    margin-left: 29.16667%;
  }
  .col-xs-pull-7 {
    position: relative;
    right: 29.16667%;
  }
  .col-xs-push-7 {
    position: relative;
    left: 29.16667%;
  }
  .col-xs-8 {
    width: 33.33333%;
  }
  .col-xs-offset-8 {
    margin-left: 33.33333%;
  }
  .col-xs-pull-8 {
    position: relative;
    right: 33.33333%;
  }
  .col-xs-push-8 {
    position: relative;
    left: 33.33333%;
  }
  .col-xs-9 {
    width: 37.5%;
  }
  .col-xs-offset-9 {
    margin-left: 37.5%;
  }
  .col-xs-pull-9 {
    position: relative;
    right: 37.5%;
  }
  .col-xs-push-9 {
    position: relative;
    left: 37.5%;
  }
  .col-xs-10 {
    width: 41.66667%;
  }
  .col-xs-offset-10 {
    margin-left: 41.66667%;
  }
  .col-xs-pull-10 {
    position: relative;
    right: 41.66667%;
  }
  .col-xs-push-10 {
    position: relative;
    left: 41.66667%;
  }
  .col-xs-11 {
    width: 45.83333%;
  }
  .col-xs-offset-11 {
    margin-left: 45.83333%;
  }
  .col-xs-pull-11 {
    position: relative;
    right: 45.83333%;
  }
  .col-xs-push-11 {
    position: relative;
    left: 45.83333%;
  }
  .col-xs-12 {
    width: 50%;
  }
  .col-xs-offset-12 {
    margin-left: 50%;
  }
  .col-xs-pull-12 {
    position: relative;
    right: 50%;
  }
  .col-xs-push-12 {
    position: relative;
    left: 50%;
  }
  .col-xs-13 {
    width: 54.16667%;
  }
  .col-xs-offset-13 {
    margin-left: 54.16667%;
  }
  .col-xs-pull-13 {
    position: relative;
    right: 54.16667%;
  }
  .col-xs-push-13 {
    position: relative;
    left: 54.16667%;
  }
  .col-xs-14 {
    width: 58.33333%;
  }
  .col-xs-offset-14 {
    margin-left: 58.33333%;
  }
  .col-xs-pull-14 {
    position: relative;
    right: 58.33333%;
  }
  .col-xs-push-14 {
    position: relative;
    left: 58.33333%;
  }
  .col-xs-15 {
    width: 62.5%;
  }
  .col-xs-offset-15 {
    margin-left: 62.5%;
  }
  .col-xs-pull-15 {
    position: relative;
    right: 62.5%;
  }
  .col-xs-push-15 {
    position: relative;
    left: 62.5%;
  }
  .col-xs-16 {
    width: 66.66667%;
  }
  .col-xs-offset-16 {
    margin-left: 66.66667%;
  }
  .col-xs-pull-16 {
    position: relative;
    right: 66.66667%;
  }
  .col-xs-push-16 {
    position: relative;
    left: 66.66667%;
  }
  .col-xs-17 {
    width: 70.83333%;
  }
  .col-xs-offset-17 {
    margin-left: 70.83333%;
  }
  .col-xs-pull-17 {
    position: relative;
    right: 70.83333%;
  }
  .col-xs-push-17 {
    position: relative;
    left: 70.83333%;
  }
  .col-xs-18 {
    width: 75%;
  }
  .col-xs-offset-18 {
    margin-left: 75%;
  }
  .col-xs-pull-18 {
    position: relative;
    right: 75%;
  }
  .col-xs-push-18 {
    position: relative;
    left: 75%;
  }
  .col-xs-19 {
    width: 79.16667%;
  }
  .col-xs-offset-19 {
    margin-left: 79.16667%;
  }
  .col-xs-pull-19 {
    position: relative;
    right: 79.16667%;
  }
  .col-xs-push-19 {
    position: relative;
    left: 79.16667%;
  }
  .col-xs-20 {
    width: 83.33333%;
  }
  .col-xs-offset-20 {
    margin-left: 83.33333%;
  }
  .col-xs-pull-20 {
    position: relative;
    right: 83.33333%;
  }
  .col-xs-push-20 {
    position: relative;
    left: 83.33333%;
  }
  .col-xs-21 {
    width: 87.5%;
  }
  .col-xs-offset-21 {
    margin-left: 87.5%;
  }
  .col-xs-pull-21 {
    position: relative;
    right: 87.5%;
  }
  .col-xs-push-21 {
    position: relative;
    left: 87.5%;
  }
  .col-xs-22 {
    width: 91.66667%;
  }
  .col-xs-offset-22 {
    margin-left: 91.66667%;
  }
  .col-xs-pull-22 {
    position: relative;
    right: 91.66667%;
  }
  .col-xs-push-22 {
    position: relative;
    left: 91.66667%;
  }
  .col-xs-23 {
    width: 95.83333%;
  }
  .col-xs-offset-23 {
    margin-left: 95.83333%;
  }
  .col-xs-pull-23 {
    position: relative;
    right: 95.83333%;
  }
  .col-xs-push-23 {
    position: relative;
    left: 95.83333%;
  }
  .col-xs-24 {
    width: 100%;
  }
  .col-xs-offset-24 {
    margin-left: 100%;
  }
  .col-xs-pull-24 {
    position: relative;
    right: 100%;
  }
  .col-xs-push-24 {
    position: relative;
    left: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .col-sm-0 {
    display: none;
    width: 0%;
  }
  .col-sm-offset-0 {
    margin-left: 0;
  }
  .col-sm-pull-0 {
    position: relative;
    right: 0;
  }
  .col-sm-push-0 {
    position: relative;
    left: 0;
  }
  .col-sm-1 {
    width: 4.16667%;
  }
  .col-sm-offset-1 {
    margin-left: 4.16667%;
  }
  .col-sm-pull-1 {
    position: relative;
    right: 4.16667%;
  }
  .col-sm-push-1 {
    position: relative;
    left: 4.16667%;
  }
  .col-sm-2 {
    width: 8.33333%;
  }
  .col-sm-offset-2 {
    margin-left: 8.33333%;
  }
  .col-sm-pull-2 {
    position: relative;
    right: 8.33333%;
  }
  .col-sm-push-2 {
    position: relative;
    left: 8.33333%;
  }
  .col-sm-3 {
    width: 12.5%;
  }
  .col-sm-offset-3 {
    margin-left: 12.5%;
  }
  .col-sm-pull-3 {
    position: relative;
    right: 12.5%;
  }
  .col-sm-push-3 {
    position: relative;
    left: 12.5%;
  }
  .col-sm-4 {
    width: 16.66667%;
  }
  .col-sm-offset-4 {
    margin-left: 16.66667%;
  }
  .col-sm-pull-4 {
    position: relative;
    right: 16.66667%;
  }
  .col-sm-push-4 {
    position: relative;
    left: 16.66667%;
  }
  .col-sm-5 {
    width: 20.83333%;
  }
  .col-sm-offset-5 {
    margin-left: 20.83333%;
  }
  .col-sm-pull-5 {
    position: relative;
    right: 20.83333%;
  }
  .col-sm-push-5 {
    position: relative;
    left: 20.83333%;
  }
  .col-sm-6 {
    width: 25%;
  }
  .col-sm-offset-6 {
    margin-left: 25%;
  }
  .col-sm-pull-6 {
    position: relative;
    right: 25%;
  }
  .col-sm-push-6 {
    position: relative;
    left: 25%;
  }
  .col-sm-7 {
    width: 29.16667%;
  }
  .col-sm-offset-7 {
    margin-left: 29.16667%;
  }
  .col-sm-pull-7 {
    position: relative;
    right: 29.16667%;
  }
  .col-sm-push-7 {
    position: relative;
    left: 29.16667%;
  }
  .col-sm-8 {
    width: 33.33333%;
  }
  .col-sm-offset-8 {
    margin-left: 33.33333%;
  }
  .col-sm-pull-8 {
    position: relative;
    right: 33.33333%;
  }
  .col-sm-push-8 {
    position: relative;
    left: 33.33333%;
  }
  .col-sm-9 {
    width: 37.5%;
  }
  .col-sm-offset-9 {
    margin-left: 37.5%;
  }
  .col-sm-pull-9 {
    position: relative;
    right: 37.5%;
  }
  .col-sm-push-9 {
    position: relative;
    left: 37.5%;
  }
  .col-sm-10 {
    width: 41.66667%;
  }
  .col-sm-offset-10 {
    margin-left: 41.66667%;
  }
  .col-sm-pull-10 {
    position: relative;
    right: 41.66667%;
  }
  .col-sm-push-10 {
    position: relative;
    left: 41.66667%;
  }
  .col-sm-11 {
    width: 45.83333%;
  }
  .col-sm-offset-11 {
    margin-left: 45.83333%;
  }
  .col-sm-pull-11 {
    position: relative;
    right: 45.83333%;
  }
  .col-sm-push-11 {
    position: relative;
    left: 45.83333%;
  }
  .col-sm-12 {
    width: 50%;
  }
  .col-sm-offset-12 {
    margin-left: 50%;
  }
  .col-sm-pull-12 {
    position: relative;
    right: 50%;
  }
  .col-sm-push-12 {
    position: relative;
    left: 50%;
  }
  .col-sm-13 {
    width: 54.16667%;
  }
  .col-sm-offset-13 {
    margin-left: 54.16667%;
  }
  .col-sm-pull-13 {
    position: relative;
    right: 54.16667%;
  }
  .col-sm-push-13 {
    position: relative;
    left: 54.16667%;
  }
  .col-sm-14 {
    width: 58.33333%;
  }
  .col-sm-offset-14 {
    margin-left: 58.33333%;
  }
  .col-sm-pull-14 {
    position: relative;
    right: 58.33333%;
  }
  .col-sm-push-14 {
    position: relative;
    left: 58.33333%;
  }
  .col-sm-15 {
    width: 62.5%;
  }
  .col-sm-offset-15 {
    margin-left: 62.5%;
  }
  .col-sm-pull-15 {
    position: relative;
    right: 62.5%;
  }
  .col-sm-push-15 {
    position: relative;
    left: 62.5%;
  }
  .col-sm-16 {
    width: 66.66667%;
  }
  .col-sm-offset-16 {
    margin-left: 66.66667%;
  }
  .col-sm-pull-16 {
    position: relative;
    right: 66.66667%;
  }
  .col-sm-push-16 {
    position: relative;
    left: 66.66667%;
  }
  .col-sm-17 {
    width: 70.83333%;
  }
  .col-sm-offset-17 {
    margin-left: 70.83333%;
  }
  .col-sm-pull-17 {
    position: relative;
    right: 70.83333%;
  }
  .col-sm-push-17 {
    position: relative;
    left: 70.83333%;
  }
  .col-sm-18 {
    width: 75%;
  }
  .col-sm-offset-18 {
    margin-left: 75%;
  }
  .col-sm-pull-18 {
    position: relative;
    right: 75%;
  }
  .col-sm-push-18 {
    position: relative;
    left: 75%;
  }
  .col-sm-19 {
    width: 79.16667%;
  }
  .col-sm-offset-19 {
    margin-left: 79.16667%;
  }
  .col-sm-pull-19 {
    position: relative;
    right: 79.16667%;
  }
  .col-sm-push-19 {
    position: relative;
    left: 79.16667%;
  }
  .col-sm-20 {
    width: 83.33333%;
  }
  .col-sm-offset-20 {
    margin-left: 83.33333%;
  }
  .col-sm-pull-20 {
    position: relative;
    right: 83.33333%;
  }
  .col-sm-push-20 {
    position: relative;
    left: 83.33333%;
  }
  .col-sm-21 {
    width: 87.5%;
  }
  .col-sm-offset-21 {
    margin-left: 87.5%;
  }
  .col-sm-pull-21 {
    position: relative;
    right: 87.5%;
  }
  .col-sm-push-21 {
    position: relative;
    left: 87.5%;
  }
  .col-sm-22 {
    width: 91.66667%;
  }
  .col-sm-offset-22 {
    margin-left: 91.66667%;
  }
  .col-sm-pull-22 {
    position: relative;
    right: 91.66667%;
  }
  .col-sm-push-22 {
    position: relative;
    left: 91.66667%;
  }
  .col-sm-23 {
    width: 95.83333%;
  }
  .col-sm-offset-23 {
    margin-left: 95.83333%;
  }
  .col-sm-pull-23 {
    position: relative;
    right: 95.83333%;
  }
  .col-sm-push-23 {
    position: relative;
    left: 95.83333%;
  }
  .col-sm-24 {
    width: 100%;
  }
  .col-sm-offset-24 {
    margin-left: 100%;
  }
  .col-sm-pull-24 {
    position: relative;
    right: 100%;
  }
  .col-sm-push-24 {
    position: relative;
    left: 100%;
  }
}
@media only screen and (min-width: 992px) {
  .col-md-0 {
    display: none;
    width: 0%;
  }
  .col-md-offset-0 {
    margin-left: 0;
  }
  .col-md-pull-0 {
    position: relative;
    right: 0;
  }
  .col-md-push-0 {
    position: relative;
    left: 0;
  }
  .col-md-1 {
    width: 4.16667%;
  }
  .col-md-offset-1 {
    margin-left: 4.16667%;
  }
  .col-md-pull-1 {
    position: relative;
    right: 4.16667%;
  }
  .col-md-push-1 {
    position: relative;
    left: 4.16667%;
  }
  .col-md-2 {
    width: 8.33333%;
  }
  .col-md-offset-2 {
    margin-left: 8.33333%;
  }
  .col-md-pull-2 {
    position: relative;
    right: 8.33333%;
  }
  .col-md-push-2 {
    position: relative;
    left: 8.33333%;
  }
  .col-md-3 {
    width: 12.5%;
  }
  .col-md-offset-3 {
    margin-left: 12.5%;
  }
  .col-md-pull-3 {
    position: relative;
    right: 12.5%;
  }
  .col-md-push-3 {
    position: relative;
    left: 12.5%;
  }
  .col-md-4 {
    width: 16.66667%;
  }
  .col-md-offset-4 {
    margin-left: 16.66667%;
  }
  .col-md-pull-4 {
    position: relative;
    right: 16.66667%;
  }
  .col-md-push-4 {
    position: relative;
    left: 16.66667%;
  }
  .col-md-5 {
    width: 20.83333%;
  }
  .col-md-offset-5 {
    margin-left: 20.83333%;
  }
  .col-md-pull-5 {
    position: relative;
    right: 20.83333%;
  }
  .col-md-push-5 {
    position: relative;
    left: 20.83333%;
  }
  .col-md-6 {
    width: 25%;
  }
  .col-md-offset-6 {
    margin-left: 25%;
  }
  .col-md-pull-6 {
    position: relative;
    right: 25%;
  }
  .col-md-push-6 {
    position: relative;
    left: 25%;
  }
  .col-md-7 {
    width: 29.16667%;
  }
  .col-md-offset-7 {
    margin-left: 29.16667%;
  }
  .col-md-pull-7 {
    position: relative;
    right: 29.16667%;
  }
  .col-md-push-7 {
    position: relative;
    left: 29.16667%;
  }
  .col-md-8 {
    width: 33.33333%;
  }
  .col-md-offset-8 {
    margin-left: 33.33333%;
  }
  .col-md-pull-8 {
    position: relative;
    right: 33.33333%;
  }
  .col-md-push-8 {
    position: relative;
    left: 33.33333%;
  }
  .col-md-9 {
    width: 37.5%;
  }
  .col-md-offset-9 {
    margin-left: 37.5%;
  }
  .col-md-pull-9 {
    position: relative;
    right: 37.5%;
  }
  .col-md-push-9 {
    position: relative;
    left: 37.5%;
  }
  .col-md-10 {
    width: 41.66667%;
  }
  .col-md-offset-10 {
    margin-left: 41.66667%;
  }
  .col-md-pull-10 {
    position: relative;
    right: 41.66667%;
  }
  .col-md-push-10 {
    position: relative;
    left: 41.66667%;
  }
  .col-md-11 {
    width: 45.83333%;
  }
  .col-md-offset-11 {
    margin-left: 45.83333%;
  }
  .col-md-pull-11 {
    position: relative;
    right: 45.83333%;
  }
  .col-md-push-11 {
    position: relative;
    left: 45.83333%;
  }
  .col-md-12 {
    width: 50%;
  }
  .col-md-offset-12 {
    margin-left: 50%;
  }
  .col-md-pull-12 {
    position: relative;
    right: 50%;
  }
  .col-md-push-12 {
    position: relative;
    left: 50%;
  }
  .col-md-13 {
    width: 54.16667%;
  }
  .col-md-offset-13 {
    margin-left: 54.16667%;
  }
  .col-md-pull-13 {
    position: relative;
    right: 54.16667%;
  }
  .col-md-push-13 {
    position: relative;
    left: 54.16667%;
  }
  .col-md-14 {
    width: 58.33333%;
  }
  .col-md-offset-14 {
    margin-left: 58.33333%;
  }
  .col-md-pull-14 {
    position: relative;
    right: 58.33333%;
  }
  .col-md-push-14 {
    position: relative;
    left: 58.33333%;
  }
  .col-md-15 {
    width: 62.5%;
  }
  .col-md-offset-15 {
    margin-left: 62.5%;
  }
  .col-md-pull-15 {
    position: relative;
    right: 62.5%;
  }
  .col-md-push-15 {
    position: relative;
    left: 62.5%;
  }
  .col-md-16 {
    width: 66.66667%;
  }
  .col-md-offset-16 {
    margin-left: 66.66667%;
  }
  .col-md-pull-16 {
    position: relative;
    right: 66.66667%;
  }
  .col-md-push-16 {
    position: relative;
    left: 66.66667%;
  }
  .col-md-17 {
    width: 70.83333%;
  }
  .col-md-offset-17 {
    margin-left: 70.83333%;
  }
  .col-md-pull-17 {
    position: relative;
    right: 70.83333%;
  }
  .col-md-push-17 {
    position: relative;
    left: 70.83333%;
  }
  .col-md-18 {
    width: 75%;
  }
  .col-md-offset-18 {
    margin-left: 75%;
  }
  .col-md-pull-18 {
    position: relative;
    right: 75%;
  }
  .col-md-push-18 {
    position: relative;
    left: 75%;
  }
  .col-md-19 {
    width: 79.16667%;
  }
  .col-md-offset-19 {
    margin-left: 79.16667%;
  }
  .col-md-pull-19 {
    position: relative;
    right: 79.16667%;
  }
  .col-md-push-19 {
    position: relative;
    left: 79.16667%;
  }
  .col-md-20 {
    width: 83.33333%;
  }
  .col-md-offset-20 {
    margin-left: 83.33333%;
  }
  .col-md-pull-20 {
    position: relative;
    right: 83.33333%;
  }
  .col-md-push-20 {
    position: relative;
    left: 83.33333%;
  }
  .col-md-21 {
    width: 87.5%;
  }
  .col-md-offset-21 {
    margin-left: 87.5%;
  }
  .col-md-pull-21 {
    position: relative;
    right: 87.5%;
  }
  .col-md-push-21 {
    position: relative;
    left: 87.5%;
  }
  .col-md-22 {
    width: 91.66667%;
  }
  .col-md-offset-22 {
    margin-left: 91.66667%;
  }
  .col-md-pull-22 {
    position: relative;
    right: 91.66667%;
  }
  .col-md-push-22 {
    position: relative;
    left: 91.66667%;
  }
  .col-md-23 {
    width: 95.83333%;
  }
  .col-md-offset-23 {
    margin-left: 95.83333%;
  }
  .col-md-pull-23 {
    position: relative;
    right: 95.83333%;
  }
  .col-md-push-23 {
    position: relative;
    left: 95.83333%;
  }
  .col-md-24 {
    width: 100%;
  }
  .col-md-offset-24 {
    margin-left: 100%;
  }
  .col-md-pull-24 {
    position: relative;
    right: 100%;
  }
  .col-md-push-24 {
    position: relative;
    left: 100%;
  }
}
@media only screen and (min-width: 1200px) {
  .col-lg-0 {
    display: none;
    width: 0%;
  }
  .col-lg-offset-0 {
    margin-left: 0;
  }
  .col-lg-pull-0 {
    position: relative;
    right: 0;
  }
  .col-lg-push-0 {
    position: relative;
    left: 0;
  }
  .col-lg-1 {
    width: 4.16667%;
  }
  .col-lg-offset-1 {
    margin-left: 4.16667%;
  }
  .col-lg-pull-1 {
    position: relative;
    right: 4.16667%;
  }
  .col-lg-push-1 {
    position: relative;
    left: 4.16667%;
  }
  .col-lg-2 {
    width: 8.33333%;
  }
  .col-lg-offset-2 {
    margin-left: 8.33333%;
  }
  .col-lg-pull-2 {
    position: relative;
    right: 8.33333%;
  }
  .col-lg-push-2 {
    position: relative;
    left: 8.33333%;
  }
  .col-lg-3 {
    width: 12.5%;
  }
  .col-lg-offset-3 {
    margin-left: 12.5%;
  }
  .col-lg-pull-3 {
    position: relative;
    right: 12.5%;
  }
  .col-lg-push-3 {
    position: relative;
    left: 12.5%;
  }
  .col-lg-4 {
    width: 16.66667%;
  }
  .col-lg-offset-4 {
    margin-left: 16.66667%;
  }
  .col-lg-pull-4 {
    position: relative;
    right: 16.66667%;
  }
  .col-lg-push-4 {
    position: relative;
    left: 16.66667%;
  }
  .col-lg-5 {
    width: 20.83333%;
  }
  .col-lg-offset-5 {
    margin-left: 20.83333%;
  }
  .col-lg-pull-5 {
    position: relative;
    right: 20.83333%;
  }
  .col-lg-push-5 {
    position: relative;
    left: 20.83333%;
  }
  .col-lg-6 {
    width: 25%;
  }
  .col-lg-offset-6 {
    margin-left: 25%;
  }
  .col-lg-pull-6 {
    position: relative;
    right: 25%;
  }
  .col-lg-push-6 {
    position: relative;
    left: 25%;
  }
  .col-lg-7 {
    width: 29.16667%;
  }
  .col-lg-offset-7 {
    margin-left: 29.16667%;
  }
  .col-lg-pull-7 {
    position: relative;
    right: 29.16667%;
  }
  .col-lg-push-7 {
    position: relative;
    left: 29.16667%;
  }
  .col-lg-8 {
    width: 33.33333%;
  }
  .col-lg-offset-8 {
    margin-left: 33.33333%;
  }
  .col-lg-pull-8 {
    position: relative;
    right: 33.33333%;
  }
  .col-lg-push-8 {
    position: relative;
    left: 33.33333%;
  }
  .col-lg-9 {
    width: 37.5%;
  }
  .col-lg-offset-9 {
    margin-left: 37.5%;
  }
  .col-lg-pull-9 {
    position: relative;
    right: 37.5%;
  }
  .col-lg-push-9 {
    position: relative;
    left: 37.5%;
  }
  .col-lg-10 {
    width: 41.66667%;
  }
  .col-lg-offset-10 {
    margin-left: 41.66667%;
  }
  .col-lg-pull-10 {
    position: relative;
    right: 41.66667%;
  }
  .col-lg-push-10 {
    position: relative;
    left: 41.66667%;
  }
  .col-lg-11 {
    width: 45.83333%;
  }
  .col-lg-offset-11 {
    margin-left: 45.83333%;
  }
  .col-lg-pull-11 {
    position: relative;
    right: 45.83333%;
  }
  .col-lg-push-11 {
    position: relative;
    left: 45.83333%;
  }
  .col-lg-12 {
    width: 50%;
  }
  .col-lg-offset-12 {
    margin-left: 50%;
  }
  .col-lg-pull-12 {
    position: relative;
    right: 50%;
  }
  .col-lg-push-12 {
    position: relative;
    left: 50%;
  }
  .col-lg-13 {
    width: 54.16667%;
  }
  .col-lg-offset-13 {
    margin-left: 54.16667%;
  }
  .col-lg-pull-13 {
    position: relative;
    right: 54.16667%;
  }
  .col-lg-push-13 {
    position: relative;
    left: 54.16667%;
  }
  .col-lg-14 {
    width: 58.33333%;
  }
  .col-lg-offset-14 {
    margin-left: 58.33333%;
  }
  .col-lg-pull-14 {
    position: relative;
    right: 58.33333%;
  }
  .col-lg-push-14 {
    position: relative;
    left: 58.33333%;
  }
  .col-lg-15 {
    width: 62.5%;
  }
  .col-lg-offset-15 {
    margin-left: 62.5%;
  }
  .col-lg-pull-15 {
    position: relative;
    right: 62.5%;
  }
  .col-lg-push-15 {
    position: relative;
    left: 62.5%;
  }
  .col-lg-16 {
    width: 66.66667%;
  }
  .col-lg-offset-16 {
    margin-left: 66.66667%;
  }
  .col-lg-pull-16 {
    position: relative;
    right: 66.66667%;
  }
  .col-lg-push-16 {
    position: relative;
    left: 66.66667%;
  }
  .col-lg-17 {
    width: 70.83333%;
  }
  .col-lg-offset-17 {
    margin-left: 70.83333%;
  }
  .col-lg-pull-17 {
    position: relative;
    right: 70.83333%;
  }
  .col-lg-push-17 {
    position: relative;
    left: 70.83333%;
  }
  .col-lg-18 {
    width: 75%;
  }
  .col-lg-offset-18 {
    margin-left: 75%;
  }
  .col-lg-pull-18 {
    position: relative;
    right: 75%;
  }
  .col-lg-push-18 {
    position: relative;
    left: 75%;
  }
  .col-lg-19 {
    width: 79.16667%;
  }
  .col-lg-offset-19 {
    margin-left: 79.16667%;
  }
  .col-lg-pull-19 {
    position: relative;
    right: 79.16667%;
  }
  .col-lg-push-19 {
    position: relative;
    left: 79.16667%;
  }
  .col-lg-20 {
    width: 83.33333%;
  }
  .col-lg-offset-20 {
    margin-left: 83.33333%;
  }
  .col-lg-pull-20 {
    position: relative;
    right: 83.33333%;
  }
  .col-lg-push-20 {
    position: relative;
    left: 83.33333%;
  }
  .col-lg-21 {
    width: 87.5%;
  }
  .col-lg-offset-21 {
    margin-left: 87.5%;
  }
  .col-lg-pull-21 {
    position: relative;
    right: 87.5%;
  }
  .col-lg-push-21 {
    position: relative;
    left: 87.5%;
  }
  .col-lg-22 {
    width: 91.66667%;
  }
  .col-lg-offset-22 {
    margin-left: 91.66667%;
  }
  .col-lg-pull-22 {
    position: relative;
    right: 91.66667%;
  }
  .col-lg-push-22 {
    position: relative;
    left: 91.66667%;
  }
  .col-lg-23 {
    width: 95.83333%;
  }
  .col-lg-offset-23 {
    margin-left: 95.83333%;
  }
  .col-lg-pull-23 {
    position: relative;
    right: 95.83333%;
  }
  .col-lg-push-23 {
    position: relative;
    left: 95.83333%;
  }
  .col-lg-24 {
    width: 100%;
  }
  .col-lg-offset-24 {
    margin-left: 100%;
  }
  .col-lg-pull-24 {
    position: relative;
    right: 100%;
  }
  .col-lg-push-24 {
    position: relative;
    left: 100%;
  }
}
@media only screen and (min-width: 1920px) {
  .col-xl-0 {
    display: none;
    width: 0%;
  }
  .col-xl-offset-0 {
    margin-left: 0;
  }
  .col-xl-pull-0 {
    position: relative;
    right: 0;
  }
  .col-xl-push-0 {
    position: relative;
    left: 0;
  }
  .col-xl-1 {
    width: 4.16667%;
  }
  .col-xl-offset-1 {
    margin-left: 4.16667%;
  }
  .col-xl-pull-1 {
    position: relative;
    right: 4.16667%;
  }
  .col-xl-push-1 {
    position: relative;
    left: 4.16667%;
  }
  .col-xl-2 {
    width: 8.33333%;
  }
  .col-xl-offset-2 {
    margin-left: 8.33333%;
  }
  .col-xl-pull-2 {
    position: relative;
    right: 8.33333%;
  }
  .col-xl-push-2 {
    position: relative;
    left: 8.33333%;
  }
  .col-xl-3 {
    width: 12.5%;
  }
  .col-xl-offset-3 {
    margin-left: 12.5%;
  }
  .col-xl-pull-3 {
    position: relative;
    right: 12.5%;
  }
  .col-xl-push-3 {
    position: relative;
    left: 12.5%;
  }
  .col-xl-4 {
    width: 16.66667%;
  }
  .col-xl-offset-4 {
    margin-left: 16.66667%;
  }
  .col-xl-pull-4 {
    position: relative;
    right: 16.66667%;
  }
  .col-xl-push-4 {
    position: relative;
    left: 16.66667%;
  }
  .col-xl-5 {
    width: 20.83333%;
  }
  .col-xl-offset-5 {
    margin-left: 20.83333%;
  }
  .col-xl-pull-5 {
    position: relative;
    right: 20.83333%;
  }
  .col-xl-push-5 {
    position: relative;
    left: 20.83333%;
  }
  .col-xl-6 {
    width: 25%;
  }
  .col-xl-offset-6 {
    margin-left: 25%;
  }
  .col-xl-pull-6 {
    position: relative;
    right: 25%;
  }
  .col-xl-push-6 {
    position: relative;
    left: 25%;
  }
  .col-xl-7 {
    width: 29.16667%;
  }
  .col-xl-offset-7 {
    margin-left: 29.16667%;
  }
  .col-xl-pull-7 {
    position: relative;
    right: 29.16667%;
  }
  .col-xl-push-7 {
    position: relative;
    left: 29.16667%;
  }
  .col-xl-8 {
    width: 33.33333%;
  }
  .col-xl-offset-8 {
    margin-left: 33.33333%;
  }
  .col-xl-pull-8 {
    position: relative;
    right: 33.33333%;
  }
  .col-xl-push-8 {
    position: relative;
    left: 33.33333%;
  }
  .col-xl-9 {
    width: 37.5%;
  }
  .col-xl-offset-9 {
    margin-left: 37.5%;
  }
  .col-xl-pull-9 {
    position: relative;
    right: 37.5%;
  }
  .col-xl-push-9 {
    position: relative;
    left: 37.5%;
  }
  .col-xl-10 {
    width: 41.66667%;
  }
  .col-xl-offset-10 {
    margin-left: 41.66667%;
  }
  .col-xl-pull-10 {
    position: relative;
    right: 41.66667%;
  }
  .col-xl-push-10 {
    position: relative;
    left: 41.66667%;
  }
  .col-xl-11 {
    width: 45.83333%;
  }
  .col-xl-offset-11 {
    margin-left: 45.83333%;
  }
  .col-xl-pull-11 {
    position: relative;
    right: 45.83333%;
  }
  .col-xl-push-11 {
    position: relative;
    left: 45.83333%;
  }
  .col-xl-12 {
    width: 50%;
  }
  .col-xl-offset-12 {
    margin-left: 50%;
  }
  .col-xl-pull-12 {
    position: relative;
    right: 50%;
  }
  .col-xl-push-12 {
    position: relative;
    left: 50%;
  }
  .col-xl-13 {
    width: 54.16667%;
  }
  .col-xl-offset-13 {
    margin-left: 54.16667%;
  }
  .col-xl-pull-13 {
    position: relative;
    right: 54.16667%;
  }
  .col-xl-push-13 {
    position: relative;
    left: 54.16667%;
  }
  .col-xl-14 {
    width: 58.33333%;
  }
  .col-xl-offset-14 {
    margin-left: 58.33333%;
  }
  .col-xl-pull-14 {
    position: relative;
    right: 58.33333%;
  }
  .col-xl-push-14 {
    position: relative;
    left: 58.33333%;
  }
  .col-xl-15 {
    width: 62.5%;
  }
  .col-xl-offset-15 {
    margin-left: 62.5%;
  }
  .col-xl-pull-15 {
    position: relative;
    right: 62.5%;
  }
  .col-xl-push-15 {
    position: relative;
    left: 62.5%;
  }
  .col-xl-16 {
    width: 66.66667%;
  }
  .col-xl-offset-16 {
    margin-left: 66.66667%;
  }
  .col-xl-pull-16 {
    position: relative;
    right: 66.66667%;
  }
  .col-xl-push-16 {
    position: relative;
    left: 66.66667%;
  }
  .col-xl-17 {
    width: 70.83333%;
  }
  .col-xl-offset-17 {
    margin-left: 70.83333%;
  }
  .col-xl-pull-17 {
    position: relative;
    right: 70.83333%;
  }
  .col-xl-push-17 {
    position: relative;
    left: 70.83333%;
  }
  .col-xl-18 {
    width: 75%;
  }
  .col-xl-offset-18 {
    margin-left: 75%;
  }
  .col-xl-pull-18 {
    position: relative;
    right: 75%;
  }
  .col-xl-push-18 {
    position: relative;
    left: 75%;
  }
  .col-xl-19 {
    width: 79.16667%;
  }
  .col-xl-offset-19 {
    margin-left: 79.16667%;
  }
  .col-xl-pull-19 {
    position: relative;
    right: 79.16667%;
  }
  .col-xl-push-19 {
    position: relative;
    left: 79.16667%;
  }
  .col-xl-20 {
    width: 83.33333%;
  }
  .col-xl-offset-20 {
    margin-left: 83.33333%;
  }
  .col-xl-pull-20 {
    position: relative;
    right: 83.33333%;
  }
  .col-xl-push-20 {
    position: relative;
    left: 83.33333%;
  }
  .col-xl-21 {
    width: 87.5%;
  }
  .col-xl-offset-21 {
    margin-left: 87.5%;
  }
  .col-xl-pull-21 {
    position: relative;
    right: 87.5%;
  }
  .col-xl-push-21 {
    position: relative;
    left: 87.5%;
  }
  .col-xl-22 {
    width: 91.66667%;
  }
  .col-xl-offset-22 {
    margin-left: 91.66667%;
  }
  .col-xl-pull-22 {
    position: relative;
    right: 91.66667%;
  }
  .col-xl-push-22 {
    position: relative;
    left: 91.66667%;
  }
  .col-xl-23 {
    width: 95.83333%;
  }
  .col-xl-offset-23 {
    margin-left: 95.83333%;
  }
  .col-xl-pull-23 {
    position: relative;
    right: 95.83333%;
  }
  .col-xl-push-23 {
    position: relative;
    left: 95.83333%;
  }
  .col-xl-24 {
    width: 100%;
  }
  .col-xl-offset-24 {
    margin-left: 100%;
  }
  .col-xl-pull-24 {
    position: relative;
    right: 100%;
  }
  .col-xl-push-24 {
    position: relative;
    left: 100%;
  }
}
